<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Chatonnerie</title>

    <main class="bg-white py-5" style="background-image: url(https://maximumwallhd.com/wp-content/uploads/2017/04/wallpaper-image-chats-en-ete-11.jpg); background-size: 100%; background-position: center; background-repeat: no-repeat;">
    <div class="container px-5" >
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6"  >
                <div class="text-center my-5"  >
                   <br>
                    
                        <br><br><br><br><br><br><br>
                    </div>
                        <br>
            <div> 
                        <br>
                        <br>
                        <br>
                        <br>
                  </div>
            </div>
        </div>
    </div>
</main>


</head>
<body><br><br><br>
    <center>
    <h1 class="display-4 fw-bolder text-grey mb-2">La Chatonnerie 🐾 </h1><br>
    
    <p class="lead text-black-50 mb-4"><b>Le meilleur site en ligne pour obtenir les clichés de nos petits cats préférés 🥳</b></p>
    </center>
<br>
<div class="album py-5 bg-light">
<div class="container">
 <div class="row">
<% @items.each do |item| %>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x100%]" style="height: 100%; width: 100%; display: block;" src="https://cdn.pixabay.com/photo/2019/05/08/21/21/cat-4189697_1280.jpg" data-holder-rendered="true">
                <div class="card-body">
                <h3 class="display-7"><%= item.title %></h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <a class="btn btn-primary active mt-2 mb-4" href="<%=item_path(item.id)%>">Détails</a>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
<% end %>          

</body>
</html>