<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour,</h1>
    <p>
      Nous avons bien reçu ta commande sur lachatonnerie.fr

      Tu devrais la reçevoir directement dans ton espace client.
    </p>
    <p>
      Pour accéder à ton profil utilisateur, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur lachatonnerie.fr !
  </body>
</html>
