<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour,</h1>
    <p>
      Nous avons reçu une commande pour ta photo.

      Celle-ci va être directement envoyé.
    </p>
    <p>
      Pour accéder à ton profil utilisateur, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur lachatonnerie.fr !
  </body>
</html>
